# Ignore node_modules and other common files
node_modules/
.env
*.log
*.tmp

# Ignore the specific files/folders in subdirectories
client/node_modules/
web3/node_modules/

# Ignore Docker-related files if not needed in the repository
*.dockerignore
docker-compose.override.yml
